listevalpartition.csv: Recommended partitioning of images into training, validation, testing sets. 

Images 1-162770 are training, 162771-182637 are validation, 182638-202599 are testing

In [2]:
import csv
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from random import randint

from sklearn import tree
from matplotlib import pyplot as plt # for a good visualization of the trees

In [3]:
#Global variables

last_training = 162770
last_validation = 182637
last_testing = 202599
max_data = 1000

#Echelle de subjectivité de 1 à 3
labels_weights = {
    'Male':1,
    'Young':2,
    'Eyeglasses':1,
    'Wearing_Necktie':1,
    'Wearing_Necklace':1,
    'Wearing_Earrings':1,
    'Wearing_Hat':1,
    'Big_Lips':3,
    'Big_Nose':3,
    'Bags_Under_Eyes':3,
    'Bushy_Eyebrows':3,
    'Wearing_Lipstick':2,
    'Heavy_Makeup':2,
    'Smiling':1,
    'Mouth_Slightly_Open':2,
    'Receding_Hairline':2,
    'Bald':1,
    'Blond_Hair':1,
    'Brown_Hair':1,
    'Black_Hair':1,
    'Gray_Hair':1,
    'Bangs':2,
    'Wavy_Hair':3,
    'Straight_Hair':3,
    'No_Beard':1,
    '5_o_Clock_Shadow':2,
    'Goatee':2,
    'Mustache':1,
    'Sideburns':2,
    'Pale_Skin':3,
    'Rosy_Cheeks':3,
    'Pointy_Nose':3,
    'Chubby':3,
    'High_Cheekbones':3,
    'Oval_Face':3    
}

questions={
    'Male':"Is it a boy?",
    'Young':"Are they young?",
    'Eyeglasses':"Do they wear eyeglasses?",
    'Wearing_Necktie':"Do they wear a tie?",
    'Wearing_Necklace':"Do they wear a necklace?",
    'Wearing_Earrings':"Do they wear earrings?",
    'Wearing_Hat':"Do they wear a hat?",
    'Big_Lips':"Do they have big lips?",
    'Big_Nose':"Do they have a big nose?",
    'Bags_Under_Eyes':"Do they have bags under their eyes?",
    'Bushy_Eyebrows':"Do they have bushy eyebrows?",
    'Wearing_Lipstick':"Do they wear lipstick?",
    'Heavy_Makeup':"Do they wear heavy makeup?",
    'Smiling':"Do they smile?",
    'Mouth_Slightly_Open':"Do they have their mouth slightly open?",
    'Receding_Hairline':"Do they have a receding hairline?",
    'Bald':"Are they bald?",
    'Blond_Hair':"Do they have blond hair?",
    'Brown_Hair':"Do they have brown hair?",
    'Black_Hair':"Do they have black hair?",
    'Gray_Hair':"Do they have gray hair?",
    'Bangs':"Do they have bangs?",
    'Wavy_Hair':"Do they have wavy hair?",
    'Straight_Hair':"Do they have straight hair?",
    'No_Beard':"Do they have no beard?",
    '5_o_Clock_Shadow':"Do they have a 5 o’clock shadow?",
    'Goatee':"Do they have a goatee?",
    'Mustache':"Do they have a mustache?",
    'Sideburns':"Do they have sideburns?",
    'Pale_Skin':"Do they have pale skin?",
    'Rosy_Cheeks':"Do they have rosy cheeks?",
    'Pointy_Nose':"Do they have a pointy nose?",
    'Chubby':"Are they chubby?",
    'High_Cheekbones':"Do they have high cheekbones?",
    'Oval_Face':"Do they have an oval face?"    
}

In [4]:
def load_repartition_from_csv(fname):
        
    data = np.genfromtxt(fname, dtype=str, skip_header=1, delimiter=",")
    data = data[:,0]
    
    #recommandations du dataset
 
    training = data[0:last_training]
    validation = data[last_training:last_validation]
    testing = data[last_validation:last_testing]
    
    #print(training[0])
    #print(training[-1])
    
    #print(validation[0])
    #print(validation[-1])
    
    #print(testing[0])
    #print(testing[-1])
    
    return training, validation, testing

In [5]:
att_to_crop = ["Attractive","Blurry","Double_Chin"]
index_to_crop = []
data = np.genfromtxt("../../archive/list_attr_celeba.csv", dtype=str, delimiter=",")
"""for i in range(len(data[0])):
    print(data[0][i], i) """
    

for i in range(len(data[0])):
    for a in att_to_crop:
        if data[0][i] == a :
            index_to_crop.append(i)
            
#print(index_to_crop)

In [7]:
data1 = data[:,0:2]
data2 = data[:,4:11]
data3 = data[:,12:15]
data4 = data[:,16:24]
data5 = data[:,25:]

newdata = np.concatenate((data1,data2,data3,data4,data5), axis=1)
labels = newdata[0]
#print(labels)

['image_id' '5_o_Clock_Shadow' 'Bags_Under_Eyes' 'Bald' 'Bangs' 'Big_Lips'
 'Big_Nose' 'Black_Hair' 'Blond_Hair' 'Brown_Hair' 'Bushy_Eyebrows'
 'Chubby' 'Eyeglasses' 'Goatee' 'Gray_Hair' 'Heavy_Makeup'
 'High_Cheekbones' 'Male' 'Mouth_Slightly_Open' 'Mustache' 'No_Beard'
 'Oval_Face' 'Pale_Skin' 'Pointy_Nose' 'Receding_Hairline' 'Rosy_Cheeks'
 'Sideburns' 'Smiling' 'Straight_Hair' 'Wavy_Hair' 'Wearing_Earrings'
 'Wearing_Hat' 'Wearing_Lipstick' 'Wearing_Necklace' 'Wearing_Necktie'
 'Young']

In [6]:
def construct_dataframe() :
    myDataFrame = pd.DataFrame(columns=labels)

    new_entry={}

    for i in range(0,max_data):
        for j in range(len(labels)):
            new_entry[labels[j]] = newdata[i][j]

        myDataFrame = myDataFrame.append(new_entry, ignore_index=True)
    return myDataFrame

myDataFrame = construct_dataframe()
myDataFrame.sort_values(by="image_id").head()

,image_id,5_o_Clock_Shadow,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,Blond_Hair,Brown_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
1,000001.jpg,-1,-1,-1,-1,-1,-1,-1,-1,1,...,-1,1,1,-1,1,-1,1,-1,-1,1
2,000002.jpg,-1,1,-1,-1,-1,1,-1,-1,1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
3,000003.jpg,-1,-1,-1,-1,1,-1,-1,-1,-1,...,-1,-1,-1,1,-1,-1,-1,-1,-1,1
4,000004.jpg,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,1,-1,1,-1,1,1,-1,1
5,000005.jpg,-1,-1,-1,-1,1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,1,-1,-1,1

In [9]:
#given the nb of the image (ex:456) returns the image_id corresponding (ex:"000456.jpg")
def get_jpg_name(id):
    name=""
    nb_of_zeros = 6-len(str(id))
    for i in range(nb_of_zeros):
        name += "0"
    name += str(id)
    name += ".jpg"
    return name

In [25]:
def get_id_from_jpg(jpg_name):
    id = jpg_name[:6]
    return int(id)

In [7]:
def construct_dataframe_from_ids(list_id):  
    myDataFrame = pd.DataFrame(columns=labels)
    new_entry={}
    for i in list_id:
        for j in range(len(labels)):
            new_entry[labels[j]] = newdata[i][j]

        myDataFrame = myDataFrame.append(new_entry, ignore_index=True)
    return myDataFrame

In [32]:
def construct_dataframe_from_jpg_names(list_jpg):  
    myDataFrame = pd.DataFrame(columns=labels)
    new_entry={}
    for i in list_jpg:
        for j in range(len(labels)):
            new_entry[labels[j]] = newdata[get_id_from_jpg(i)][j]

        myDataFrame = myDataFrame.append(new_entry, ignore_index=True)
    return myDataFrame

In [10]:
def get_labels_img_as_list(nb_image):
    if type(nb_image) is int:
        return myDataFrame.loc[myDataFrame['image_id']==get_jpg_name(nb_image)].values.tolist()[0][1:]
    else:
        return myDataFrame.loc[myDataFrame['image_id']==nb_image].values.tolist()[0][1:]

In [11]:
def get_n_images_df(n):
    randomImages = []
    while len(randomImages)<n:
        different_labels=True
        r = randint(0,max_data)
        for i in range(len(randomImages)):
            #check if there are >=2 images with the same labels
            if get_labels_img_as_list(r) == get_labels_img_as_list(randomImages[i]):
                different_labels=False
                break
        if different_labels:
            randomImages.append(get_jpg_name(r))
    
    return(myDataFrame.loc[myDataFrame['image_id'].isin(randomImages)].sort_values(by="image_id"))

In [12]:
"""def get_n_images_id(n):
    randomImages = []
    ids=[]
    while len(randomImages)<n:
        different_labels=True
        r = randint(0,max_data)
        for i in range(len(randomImages)):
            #check if there are >=2 images with the same labels
            if get_labels_img_as_list(r) == get_labels_img_as_list(randomImages[i]):
                different_labels=False
                break
        if different_labels:
            randomImages.append(get_jpg_name(r))
            ids.append(r)
    
    return(ids)"""

'def get_n_images_id(n):\n    randomImages = []\n    ids=[]\n    while len(randomImages)<n:\n        different_labels=True\n        r = randint(0,max_data)\n        for i in range(len(randomImages)):\n            #check if there are >=2 images with the same labels\n            if get_labels_img_as_list(r) == get_labels_img_as_list(randomImages[i]):\n                different_labels=False\n                break\n        if different_labels:\n            randomImages.append(get_jpg_name(r))\n            ids.append(r)\n    \n    return(ids)'

In [13]:
def get_n_images_jpg_name(n):
    randomImages = []
    while len(randomImages)<n:
        different_labels=True
        r = randint(0,max_data)
        for i in range(len(randomImages)):
            #check if there are >=2 images with the same labels
            if get_labels_img_as_list(r) == get_labels_img_as_list(randomImages[i]):
                different_labels=False
                break
        if different_labels:
            randomImages.append(get_jpg_name(r))
    
    return(randomImages)

In [14]:
def get_images_left_df(images_before, label_question, answer):
    label_answer = '1' if answer else '-1'
    return images_before.loc[images_before[label_question] == label_answer].sort_values(by="image_id")

In [15]:
"""def get_images_left_jpg_name(list_images_before, label_question, answer):
    images_before = construct_dataframe_from_list(list_images_before)
    label_answer = '1' if answer else '-1'
    newdf = images_before.loc[images_before[label_question] == label_answer].sort_values(by="image_id")
    return newdf['image_id'].tolist()"""

'def get_images_left_jpg_name(list_images_before, label_question, answer):\n    images_before = construct_dataframe_from_list(list_images_before)\n    label_answer = \'1\' if answer else \'-1\'\n    newdf = images_before.loc[images_before[label_question] == label_answer].sort_values(by="image_id")\n    return newdf[\'image_id\'].tolist()'

In [16]:
def choose_question(df):
    score_min = 2
    label_min = ""
    
    #evaluate all scores + find the best one
    for label in df:
        if label != 'image_id':
            nb_positive = get_images_left_df(df, label, 1)
            score_rep = abs(len(nb_positive.values.tolist())/len(df.values.tolist())-0.5)+1
            score = score_rep * labels_weights[label]
            if (score < score_min):
                score_min = score
                label_min = label
    return(label_min)

In [17]:
def test():
    df=get_n_images_df(20)
    display(df)
    
    while len(df) > 1 :
        label_question = choose_question(df)
        print(label_question)
        new_df = get_images_left_df(df, label_question, 1)
        df = new_df
        display(df)
        
    #display(df)

In [18]:
test()

,image_id,5_o_Clock_Shadow,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,Blond_Hair,Brown_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
6,000006.jpg,-1,-1,-1,-1,1,-1,-1,-1,1,...,-1,-1,-1,1,1,-1,1,-1,-1,1
102,000102.jpg,-1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
111,000111.jpg,-1,-1,-1,1,1,-1,-1,1,-1,...,-1,1,-1,1,1,-1,1,-1,-1,1
143,000143.jpg,1,-1,-1,-1,-1,-1,-1,-1,1,...,-1,1,1,-1,-1,-1,-1,-1,1,1
156,000156.jpg,-1,-1,-1,-1,-1,-1,-1,1,-1,...,-1,1,-1,1,-1,-1,1,-1,-1,-1
231,000231.jpg,-1,-1,-1,-1,1,-1,-1,-1,-1,...,-1,-1,-1,1,1,-1,1,-1,-1,1
241,000241.jpg,-1,1,-1,-1,-1,-1,-1,-1,1,...,-1,1,-1,-1,1,-1,-1,-1,-1,-1
257,000257.jpg,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,1,-1,-1,1,-1,-1,1
308,000308.jpg,-1,-1,-1,1,1,1,-1,-1,-1,...,-1,-1,-1,1,-1,1,1,-1,-1,1
414,000414.jpg,1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
471,000471.jpg,-1,-1,-1,-1,-1,-1,-1,1,-1,...,-1,1,1,-1,-1,-1,1,1,-1,1
569,000569.jpg,1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,1,1
597,000597.jpg,-1,-1,-1,-1,1,-1,-1,-1,1,...,-1,-1,-1,1,-1,-1,1,-1,-1,1
635,000635.jpg,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,1,-1,-1,-1,1,-1,-1,-1,1
736,000736.jpg,-1,-1,-1,-1,-1,-1,-1,-1,1,...,-1,1,-1,1,1,-1,1,1,-1,1
804,000804.jpg,-1,-1,-1,-1,-1,-1,-1,1,-1,...,-1,1,1,-1,-1,-1,1,-1,-1,1
812,000812.jpg,-1,-1,-1,-1,1,-1,-1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,1
857,000857.jpg,-1,1,-1,1,-1,1,-1,1,-1,...,-1,1,-1,1,1,-1,1,-1,-1,-1
868,000868.jpg,-1,-1,-1,-1,1,-1,-1,-1,-1,...,-1,-1,-1,1,-1,-1,1,1,-1,1
937,000937.jpg,-1,-1,-1,-1,-1,-1,-1,-1,1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1

Smiling

,image_id,5_o_Clock_Shadow,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,Blond_Hair,Brown_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
111,000111.jpg,-1,-1,-1,1,1,-1,-1,1,-1,...,-1,1,-1,1,1,-1,1,-1,-1,1
143,000143.jpg,1,-1,-1,-1,-1,-1,-1,-1,1,...,-1,1,1,-1,-1,-1,-1,-1,1,1
156,000156.jpg,-1,-1,-1,-1,-1,-1,-1,1,-1,...,-1,1,-1,1,-1,-1,1,-1,-1,-1
241,000241.jpg,-1,1,-1,-1,-1,-1,-1,-1,1,...,-1,1,-1,-1,1,-1,-1,-1,-1,-1
414,000414.jpg,1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1
471,000471.jpg,-1,-1,-1,-1,-1,-1,-1,1,-1,...,-1,1,1,-1,-1,-1,1,1,-1,1
569,000569.jpg,1,-1,-1,-1,-1,-1,1,-1,-1,...,-1,1,-1,-1,-1,-1,-1,-1,1,1
635,000635.jpg,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,1,-1,-1,-1,1,-1,-1,-1,1
736,000736.jpg,-1,-1,-1,-1,-1,-1,-1,-1,1,...,-1,1,-1,1,1,-1,1,1,-1,1
804,000804.jpg,-1,-1,-1,-1,-1,-1,-1,1,-1,...,-1,1,1,-1,-1,-1,1,-1,-1,1
857,000857.jpg,-1,1,-1,1,-1,1,-1,1,-1,...,-1,1,-1,1,1,-1,1,-1,-1,-1
937,000937.jpg,-1,-1,-1,-1,-1,-1,-1,-1,1,...,-1,1,-1,-1,-1,-1,-1,-1,-1,1

Blond_Hair

,image_id,5_o_Clock_Shadow,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,Blond_Hair,Brown_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
111,000111.jpg,-1,-1,-1,1,1,-1,-1,1,-1,...,-1,1,-1,1,1,-1,1,-1,-1,1
156,000156.jpg,-1,-1,-1,-1,-1,-1,-1,1,-1,...,-1,1,-1,1,-1,-1,1,-1,-1,-1
471,000471.jpg,-1,-1,-1,-1,-1,-1,-1,1,-1,...,-1,1,1,-1,-1,-1,1,1,-1,1
804,000804.jpg,-1,-1,-1,-1,-1,-1,-1,1,-1,...,-1,1,1,-1,-1,-1,1,-1,-1,1
857,000857.jpg,-1,1,-1,1,-1,1,-1,1,-1,...,-1,1,-1,1,1,-1,1,-1,-1,-1

Wearing_Earrings

,image_id,5_o_Clock_Shadow,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,Blond_Hair,Brown_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
111,000111.jpg,-1,-1,-1,1,1,-1,-1,1,-1,...,-1,1,-1,1,1,-1,1,-1,-1,1
857,000857.jpg,-1,1,-1,1,-1,1,-1,1,-1,...,-1,1,-1,1,1,-1,1,-1,-1,-1

Bald

Empty DataFrame
Columns: [image_id, 5_o_Clock_Shadow, Bags_Under_Eyes, Bald, Bangs, Big_Lips, Big_Nose, Black_Hair, Blond_Hair, Brown_Hair, Bushy_Eyebrows, Chubby, Eyeglasses, Goatee, Gray_Hair, Heavy_Makeup, High_Cheekbones, Male, Mouth_Slightly_Open, Mustache, No_Beard, Oval_Face, Pale_Skin, Pointy_Nose, Receding_Hairline, Rosy_Cheeks, Sideburns, Smiling, Straight_Hair, Wavy_Hair, Wearing_Earrings, Wearing_Hat, Wearing_Lipstick, Wearing_Necklace, Wearing_Necktie, Young]
Index: []

[0 rows x 36 columns]

In [19]:
def get_question_to_ask(list_images):
    df = construct_dataframe_from_jpg_names(list_images)
    label = choose_question(df)
    return (label, questions[label])

In [35]:
get_question_to_ask(get_n_images_jpg_name(20))

('Brown_Hair', 'Do they have brown hair?')